<% flash.each do |m_type, m_content| %>

  <div class="ui <%= m_type %> message transition">
    <i class="close icon"></i>
    <div class="header">
      <%= m_content %>
    </div>
  </div>

<% end %>